

@[ if(shiro.hasPermission("pano:menu")){ /]
<li>
    <a href="#">
        <i class="fa fa-picture-o"></i>
        <span class="nav-label">全景漫游</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        @[ if(shiro.hasPermission("panoProj:menu")){ /]
        <li><a class="J_menuItem" href="${basePath }/h/pano/proj/init">全景漫游</a></li>
        @[ } /]
        @[ if(shiro.hasPermission("panoComment:menu")){ /]
        <li><a class="J_menuItem" href="${basePath }/h/pano/comments/init">场景留言</a></li>
        @[ } /]
    </ul>
</li>
<li><a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">全景视频</span><span
        class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a class="J_menuItem" href="${basePath }/h/video/init">视频列表</a></li>
    </ul>
</li>
@[ } /]