@[
/*
 * 组织架构_部门 后台管理 (信息编辑页面)
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
 /]
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	@[ include("../include/meta.html"){} /]
	@[ include("../include/public_init_js_css.html"){} /]
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-content col-sm-12">
				<form id="id_form" method="post" class="form-horizontal m-t" target="_parent"  accept-charset="UTF-8" action="${basePath}h/org/dept/save">
					<div class="col-sm-12">
						<div style="float:right;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
					<input type="hidden" name="pageNum" id="bean-pageNum" value="${bean.pageNum}">
					<input type="hidden" name="id" value="${bean.id}" />
					<input type="hidden" name="token" value="${bean.token}" />
					<input type="hidden" name="newFlag" value="${bean.newFlag}" />
					<div class="col-sm-6 b-r">
						<div class="form-group">
							<label class="col-md-2 control-label" for="bean-code">编码</label>
							<div class="col-md-8">
								<input type="text" class="form-control" placeholder="请输入编码" id="bean-code" name="code" value="${bean.code}" required="" aria-required="true" minlength="2" maxlength="32" aria-invalid="true"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="bean-name">名称</label>
							<div class="col-md-8">
								<input type="text" class="form-control" placeholder="请输入名称" id="bean-name" name="name" value="${bean.name}" required="" aria-required="true" minlength="2" maxlength="20" aria-invalid="true"/>
								<span class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-md-2 control-label" for="parentId">上级部门</label>
							<div class="col-md-8">
								@[ var treeIndex=1; /]
								@[ var _this_self=bean.id; /]
								@[ var _band_flag=bean.parentId; /]
								<select  class="form-control" name="parentId" id="parentId">
									<option value="">---顶级---</option>
									@[ if(isNotEmpty(beans) && beans.~size>0){ /]
									@[ for(b in beans){ /]
									<option  value="${_this_self!=b.id?b.id:_this_self}" ${_band_flag==b.id?'selected="selected"':''} >-${b.name}${_this_self==b.id?'-----无效项-------':''}</option>
									@[ layout("org_dept_tree_select.html",{treeIndex:1,beans:b.nodes,_band_flag:bean.parentId,_this_self:bean.id}){} /]
									@[ } /]
									@[ } /]
								</select>
							</div>
						</div>
						<div class="form-group">
						   <label class="col-md-2 control-label" for="bean-memo">备注</label>
						   <div class="col-md-8">
							 <input id="bean-memo" name="memo" value="${bean.memo}" class="form-control" type="text"  placeholder="备注"   maxlength="255"   aria-invalid="true">
								<span class="help-block"></span>
						   </div>
						</div>
					</div>
					<div class="col-sm-12">
						<div style="width: 200px;margin: 0 auto;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@[ include("../include/public_last_js_css.html"){} /]
<script type="text/javascript">
    $().ready(function(){
        formValidate();
    });
    function formValidate(){
        setTimeout(function(){
            $("#id_form").validate();
        },1000);
    }
</script>
</body>
</html>