<%
/*
 * 组织架构_部门 树递归
 */
%>
<% if(isNotEmpty(beans) && beans.~size>0){
	for(bean in beans){
		pageCtx("trIndex",pageCtx("trIndex")+1);
%>
		<tr>
			<td>${pageCtx("trIndex")}</td>
			<td>
				-
				<% for(var i=1;i<=treeIndex;i++){ %>
				|-
				<%}%>
				${bean.name}</td>
			<td>${bean.code}</td>
			<td>${bean.memo}</td>
			<td>
				<% if(shiro.hasPermission("orgDept:edit")){ %>
				<a href="javascript:;"  onclick="openMyBoxLayer('e','${basePath}h/org/dept/edit/${bean.id}');" class="label label-success" ><i class="fa fa-edit"></i> 编辑</a>
				<%}%>
				<% if(shiro.hasPermission("orgDept:del")){ %>
				<% if(isEmpty(bean.beans) || bean.beans.~size==0){ %>
				<a href="javascript:;"  onclick="if(confirm('确认删除吗?')){delInfoData('${basePath}h/org/dept/del/${bean.id}');};" class="label label-danger" ><i class="fa fa-trash-o"></i> 删除</a>
				<%}}%>
			</td>
		</tr>
<%
		if(isNotEmpty(bean.beans) && bean.beans.~size>0){
			layout("org_dept_tree_info.html",{beans:bean.beans,treeIndex:treeIndex+1}){};
		}
	}
}
%>
