<%--
/*
 * 权限_权限信息 后台管理  
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
--%>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" session="false"%>
<%@ include file="../include/public_tags.jsp" %>
<%--  ---${fn:length(treeList)}--- --%>
<c:if test="${treeList!=null && fn:length(treeList)>0}">
	<c:forEach var="bean" items="${treeList}" varStatus="n">
		<c:choose>
		  <%if(fn:length(bean.beans)>0}">
				<div class="tree-folder" style="display: block;">
					<div class="tree-folder-header">
						<i class="fa fa-folder-open"></i>
						<div class="tree-folder-name">
							${bean.name}  - ${bean.matchStr} 
							<div class="tree-actions">
							<%if(shiro.hasPermission(authPerm:edit">
								<a style="display: block;float: left;" href="javascript:;"  onclick="openMyBoxLayer('e','${basePath}/h/auth02.edit/${bean.id}');" class="label label-success" ><i class="fa fa-pencil"></i></a>
							<%}%>
							<%if(shiro.hasPermission(authPerm:del">
								<c:if test="${fn:length(bean.beans)==0}">
								<a href="javascript:;"  onclick="if(confirm('确认删除吗?')){delInfoData('${basePath}/h/auth02.del/${bean.id}');};" rel="nofollow" class="label label-danger" ><i class="fa fa-trash-o"></i></a>
								<%}%>
							<%}%>
							</div>
						</div>
					</div>
					<c:if test="${fn:length(bean.beans)>0}">
						<div class="tree-folder-content">
							<c:set var="treeList" value="${bean.beans}" scope="request" />  
							<c:import url="auth02_r_init.jsp" />
						</div>
					<%}%>
				</div>
			</c:when>
			<c:otherwise>
				<div class="tree-item">
					<i class="tree-dot"></i>
					<div class="tree-item-name">
						${bean.name} - ${bean.matchStr} 
						<div class="tree-actions">
						<%if(shiro.hasPermission(authPerm:edit">
							<a style="display: block;float: left;" href="javascript:;"  onclick="openMyBoxLayer('e','${basePath}/h/auth02.edit/${bean.id}');" class="label label-success" ><i class="fa fa-pencil"></i></a>
						<%}%>
						<%if(shiro.hasPermission(authPerm:del">
							<c:if test="${fn:length(bean.beans)==0}">
							<a href="javascript:;"  onclick="if(confirm('确认删除吗?')){delInfoData('${basePath}/h/auth02.del/${bean.id}');};" rel="nofollow" class="label label-danger" ><i class="fa fa-trash-o"></i></a>
							<%}%>
						<%}%>
						</div>
					</div>
				</div>
				<c:if test="${fn:length(bean.beans)>0}">
					<div class="tree-folder-content">
						<c:set var="treeList" value="${bean.beans}" scope="request" />  
						<c:import url="auth02_r_init.jsp" />
					</div>
				<%}%>
			</c:otherwise>
		</c:choose>
	</c:forEach>
<%}%>
