<%
/*
 * 权限_权限信息 后台管理 (信息编辑页面)
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<% include("../include/meta.html"){} %>
	<% include("../include/public_init_js_css.html"){} %>
	<style type="text/css">
	</style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-content col-sm-12">
				<form id="id_form" method="post" class="form-horizontal m-t" target="_parent" accept-charset="UTF-8" action="${basePath}/h/auth/perm/save">
					<input type="hidden" name="pageNum" id="bean_pageNum" value="${bean.pageNum}"/>
					<input type="hidden" name="id" value="${bean.id}" />
					<input type="hidden" name="token" value="${bean.token}" />
                    <input type="hidden" name="newFlag" value="${bean.newFlag}" />
                    <div class="col-md-8">
						<div class="form-group">
						  <label class="col-md-2 control-label">父级权限</label>
						  <div class="col-md-8">
							  <% var treeIndex=1; %>
							  <% var _this_self=bean.id; %>
							  <% var _band_flag=bean.parentid; %>
							  <select  class="form-control" name="parentid" id="parentid">
								  <option value="">---顶级---</option>
								  <% if(isNotEmpty(beans) && beans.~size>0){ %>
									  <% for(b in beans){ %>
										 <option  value="_this_self!=b.id?b.id:'-999'}" ${_band_flag==b.id?'selected="selected"':''} >
											 - ${b.name}${_this_self==b.id?'-----无效项-------':''}
										 </option>
										 <% layout("auth_perm_tree_select.html",{treeIndex:1,beans:b.beans,_band_flag:bean.parentid,_this_self:bean.id}){} %>
									  <%}%>
								  <%}%>
							  </select>
								<span class="help-block"></span>
						  </div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="bean_name">权限名称</label>
						  <div class="col-md-8">
							  <input type="text" class="form-control" placeholder="请输入权限名称" id="bean_name" name="name" value="${bean.name}" required="" aria-required="true" maxlength="20" aria-invalid="true" />
								<span class="help-block"></span>
						  </div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label class="col-md-2 control-label" for="bean_matchStr">权限匹配符</label>
						  <div class="col-md-8">
							  <input type="text" class="form-control" placeholder="请输入权限匹配符" id="bean_matchStr" name="matchStr" value="${bean.matchStr}" required="" aria-required="true" maxlength="20" aria-invalid="true" />
								<span class="help-block"></span>
						  </div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="bean_memo">备注</label>
						   <div class="col-md-8">
							   <input type="text" class="form-control" placeholder="请输入备注" id="bean_memo" name="memo" value="${bean.memo}"/>
								<span class="help-block"></span>
						   </div>
						</div>
					</div>
					<div class="col-sm-12">
					<div style="width: 200px; margin: 0 auto;">
						<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	<% include("../include/public_last_js_css.html"){} %>
	<script type="text/javascript">
        $().ready(function(){
            formValidate();
        });
        function formValidate(){
            setTimeout(function(){
                $("#id_form").validate();
            },1000);
        }
	</script>
</body>
</html>
