<%
/*
 * 页面初始化前加载的js和css <head>js/css</head>
 *
 * VERSION  DATE        BY           REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00     2016-03-26  wuxiaogang   程序・发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2016 baseos System. - All Rights Reserved.
 *
 */
%>
<link href="${basePath}plugins/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="${basePath}plugins/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${basePath}plugins/hplus/css/animate.min.css" rel="stylesheet">
<link href="${basePath}plugins/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">

<link href="${basePath}plugins/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="${basePath}plugins/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<script type="text/javascript" src="${basePath}js/jquery-1.10.2.min.js" ></script>