<%
/*
 * jsp头
 *
 * VERSION  DATE        BY           REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00     2016-03-26  wuxiaogang   程序・发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2016 baseos System. - All Rights Reserved.
 *
 */
%>
<!-- <meta charset="utf8" /> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="description of your site" />
<meta name="author" content="author of the site" />
<link rel="shortcut icon" href="favicon.ico" /> 