<li>
    <a class="J_menuItem" href="${basePath!}m/home"> <i class="fa fa-home"></i> <span class="nav-label">我的主页</span></a>
</li>
@[ if(shiro.hasPermission("memMaterial:menu")){ /]
<li><a class="J_menuItem" href="${basePath!}m/material/init"><i class="glyphicon glyphicon-leaf"></i> <span class="nav-label">素材库 </span></a></li>
@[ } /]

<li><a href="#"><i class="glyphicon glyphicon-credit-card"></i> <span class="nav-label">全景作品 </span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        @[ if(shiro.hasPermission("memCategory:menu")){ /]
        <li><a class="J_menuItem" href="${basePath!}m/pano/category/init">全景类目</a></li>
        @[ } /]
        @[ if(shiro.hasPermission("memTags:menu")){ /]
        <li><a class="J_menuItem" href="${basePath!}m/pano/tags/init">类别标签</a></li>
        @[ } /]
        @[ if(shiro.hasPermission("memPanoProj:menu")){ /]
        <li><a class="J_menuItem" href="${basePath!}m/pano/proj/init">全景摄影</a></li>
        @[ } /]
        @[ if(shiro.hasPermission("memVideo:menu")){ /]
        <li><a class="J_menuItem" href="${basePath!}m/view/init">全景视频</a></li>
        @[ } /]
        @[ if(shiro.hasPermission("memPanoComment:menu")){ /]
        <li><a class="J_menuItem" href="${basePath!}m/pano/comments/init">作品评论</a></li>
        @[ } /]
    </ul>
</li>

<li><a href="#"><i class="glyphicon glyphicon-user"></i> <span class="nav-label">账户管理 </span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a class="J_menuItem" href="/indevelopment.html?v=5">我的账户</a></li>
        <li><a class="J_menuItem" href="/indevelopment.html?v=6">个人资料</a></li>
        <li><a class="J_menuItem" href="${basePath!}m/indevelopment.html?v=8">会员认证</a></li>
    </ul>
</li>
<li><a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">信息中心 </span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a class="J_menuItem" href="/mailbox.html">系统消息</a></li>
    </ul>
</li>