@[
/*
 * 页面初始化前加载的js和css <head>js/css</head>
 *
 * VERSION  DATE        BY           REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00     2016-03-26  wuxiaogang   程序・发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2016 baseos System. - All Rights Reserved.
 *
 */
/]
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="${basePath}assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="${basePath}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="${basePath}assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<link rel="stylesheet" href="${basePath}assets/plugins/revolution_slider/css/rs-style.css" media="screen">
<link rel="stylesheet" href="${basePath}assets/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen">
<link href="${basePath}assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />
<!-- END PAGE LEVEL PLUGIN STYLES -->

<!-- BEGIN THEME STYLES -->
<link href="${basePath}assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
<link href="${basePath}assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="${basePath}assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="${basePath}assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="${basePath}assets/css/custom.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="${basePath}js/jquery-1.10.2.min.js" ></script>
