@[
/*
 * 组织架构_用户 后台管理 (初始化页面  信息列表)
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
 /]
<div class="table-responsive table-scrollable">
	<table class="table table-bordered table-striped  table-hover">
				<thead>
					<tr>
						<th style="width: 20px"></th>
						<th class="col-md-2">登录名</th>
						<th class="col-md-3">姓名</th>
						<th class="col-md-2">角色</th>
						<th class="" style="width: 50px;">状态</th>
						<th ></th>
					</tr>
				</thead>
				<tbody>
				@[
				for(bean in beans!){
				 /]
					<tr>
						<td>${PAGEROW_OBJECT_KEY.startRow+beanLP.index-1}</td>
						<td>${bean.accid}</td>
						<td>${bean.name}</td>
						<td>${bean.roleNames}</td>
						<td>${bean.enable==1?'启用':'禁用'}</td>
						<td>
						@[ if(shiro.hasPermission("orgUser:editPwd")){ /]
							<a href="javascript:;"  onclick="openMyBoxLayer('e','${basePath}h/org/user/editPwd/${bean.id}');" class="label label-success" ><i class="fa fa-edit"></i> 密码修改</a>
						@[ } /]
						@[ if(shiro.hasPermission("orgUser:edit")){ /]
							<a href="javascript:;"  onclick="openMyBoxLayer('e','${basePath}h/org/user/edit/${bean.id}');" class="label label-success" ><i class="fa fa-edit"></i> 编辑</a>
						@[ } /]
						@[ if(bean.id!=1 && shiro.hasPermission("orgUser:del")){ /]
							<a href="javascript:;"  onclick="if(confirm('确认删除吗?')){delInfoData('${basePath}h/org/user/del/${bean.id}');};" rel="nofollow" class="label label-danger" ><i class="fa fa-trash-o"></i> 删除</a>
						@[ } /]
						</td>
					</tr>
				@[
				}elsefor{
				 /]
					<tr>
						<td colspan="6">
							<div class="alert"><strong>暂无数据!</strong></div>
						</td>
					</tr>
				@[ } /]
				</tbody>
	</table>
	<#pageTag func="loadUrlPage" params="'info_search_form','info_list_div'" />
</div>
<script type="text/javascript">
    //判断是否尾页
    if(${PAGEROW_OBJECT_KEY.hasNextPage!}){
        $('#pageNumA').val(${PAGEROW_OBJECT_KEY.pageNum!});
    }
</script>