<%
/*
 * 页面初始化前加载的js和css <head>js/css</head>
 *
 * VERSION  DATE        BY           REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00     2016-10-26  wuxiaogang   程序・发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2016 pano System. - All Rights Reserved.
 *
 */
%>
<!-- BEGIN THEME STYLES --> 

<!-- END THEME STYLES -->

<link href="${basePath}plugins/editor/themes/default/default.css" rel="stylesheet" type="text/css"/>
<link href="${basePath}plugins/editor/plugins/code/prettify.css" rel="stylesheet" type="text/css"/>

<link href="${basePath}css/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="${basePath}css/font-awesome/css/font-awesome-ie7.css" rel="stylesheet">

<link rel="shortcut icon" href="/favicon.ico" />
<script type="text/javascript" src="${basePath}js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="${basePath}js/jQuery.md5.js"></script>
