<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<bean id="dataSource_db1" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!-- 驱动名称 -->
		<property name="driverClassName" value="${db.driverClass}" />
		<!-- JDBC连接串 -->
		<property name="url" value="${db.jdbcUrl}" />
		<!-- 数据库用户名 -->
		<property name="username" value="${db.username}" />
		<!-- 控制密码是否加密 <property name="connectionProperties" value="config.decrypt=true" /> -->

		<!-- 数据库用户密码 -->
		<!-- <property name="connectProperties"> -->
		<!-- <props> -->
		<!-- <prop key="password" >${db.password}</prop> -->
		<!-- </props> -->
		<!-- </property> -->
		<!-- <property name="passwordCallback"> -->
		<!-- <bean class="com.hy.potmerchant.commons.DBPasswordCallback" /> -->
		<!-- </property> -->

		<!-- 数据库用户密码 -->
		<property name="password" value="${db.password}" />
		<property name="filters" value="config" />

		<!-- 连接池扩展 <property name="filters" value="stat" /> -->
		<!-- 连接池最大值 -->
		<property name="maxActive" value="20" />
		<!-- 初始化大小 -->
		<property name="initialSize" value="1" />
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="60000" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="1" />
		<!-- 逐出连接的检测时间间隔 -->
		<property name="timeBetweenEvictionRunsMillis" value="3000" />
		<!-- 最小逐出时间 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<!-- 检测连接是否有效的SQL -->
		<property name="validationQuery" value="SELECT 1" />
		<!-- 借出连接时是否做测试 -->
		<property name="testWhileIdle" value="true" />
		<!-- 借出连接时是否做测试 -->
		<property name="testOnBorrow" value="false" />
		<!--归还连接时是否做测试 -->
		<property name="testOnReturn" value="false" />
		<!--借出连接时是否做测试 -->
		<!-- <property name="poolPreparedStatements" value="true" /> -->
		<!-- Statement缓存大小 -->
		<!-- <property name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->
	</bean>

	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_db1" />
	</bean>
	<!-- 声明式事务 @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>