@charset "utf-8";
/* 上传进度条 */
.progress{
	margin-top:2px;
	width: 200px;
	height: 14px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar{ 
	background-color: rgb(92, 184, 92);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	float: left; 
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: width;
	transition-timing-function: ease;
	width: 266.188px;
}

.img-grid {
	float: left;
	width: 220px;
	border: solid 1px #3DADED;
	padding: 10px;
	margin-right: 10px;
	position: relative;
}

.img-grid .ico_del {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #fff url(../img/cuowu.png) 0 0 no-repeat;
	position: absolute;
	top: -10px;
	left: 210px;
}

.img-grid .ico_left {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #fff url(../img/left.png) 0 0 no-repeat;
	position: absolute;
	top: -10px;
	left: 170px;
}

.img-grid .ico_right {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #fff url(../img/right.png) 0 0 no-repeat;
	position: absolute;
	top: -10px;
	left: 190px;
}

.img-grid img {
	width: 198px;height: 100px;
}

.img-grid input {
	width: 200px;
	padding: 0 5px;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	border: solid 1px #3DADED;
}

.confirm-suc-div {
	margin-left: 180px;
	margin-top: 10px;
}

.confirm-suc-btn {
	width: 87px;
	height: 25px;
	border-radius: 4px;
	background-color: #7BAC73;
	color: #E8E8E8;
	font-size: 15px;
	font-weight: 600;
}

.msc_file_tip {
	font-size: 12px;
	margin-left: 10px;
	color: #605959;
}
