<%
 /*	
 * 全景_类目 后台管理 (信息编辑页面)
 *		
 * VERSION      DATE          BY              REASON		
 * -------- ----------- --------------- ---------------------------	
 * 1.00     2016.10.02      easycode         程序.发布		
 * -------- ----------- --------------- ---------------------------	
 * Copyright 2016 baseos System. - All Rights Reserved.
 *	
 */
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<% include("../include/meta.html"){} %> 
<% include("../include/public_init_js_css.html"){} %>
<style type="text/css">
</style>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="ibox float-e-margins">
				<div class="ibox-content col-sm-12">
					<form id="pano01_01" method="post" class="form-horizontal m-t" target="_parent" accept-charset="UTF-8" action="${basePath}/h/pano01.save">
						<input type="hidden" name="pageNum" id="bean_pageNum" value="${bean.pageNum}">
			          <input type="hidden" name="id" value="${bean.id}" />
					    						
						<div class="form-group">
							<label class="col-sm-3 control-label"  for="bean_name">名称：</label>
							<div class="col-sm-8">
								<input id="bean_name" name="name" value="${bean.name}" class="form-control" type="text"  placeholder="名称" aria-describedby="bean_name-error"  maxlength="100"   aria-invalid="true">
								<span id="bean_name-error" class="help-block m-b-none"><i class="fa fa-info-circle"></i></span>
							 </div>
						 </div>
												
						<div class="form-group">
							<label class="col-sm-3 control-label"  for="bean_code">编码：</label>
							<div class="col-sm-8">
								<input id="bean_code" name="code" value="${bean.code}" class="form-control" type="text"  placeholder="编码" aria-describedby="bean_code-error"  maxlength="100"   aria-invalid="true">
								<span id="bean_code-error" class="help-block m-b-none"><i class="fa fa-info-circle"></i></span>
							 </div>
						 </div>
												
						<div class="form-group">
							<label class="col-sm-3 control-label"  for="bean_parentid">父级ID：</label>
							<div class="col-sm-8">
								<input id="bean_parentid" name="parentid" value="${bean.parentid}" class="form-control" type="text"  placeholder="父级ID" aria-describedby="bean_parentid-error"  maxlength="100"   aria-invalid="true">
								<span id="bean_parentid-error" class="help-block m-b-none"><i class="fa fa-info-circle"></i></span>
							 </div>
						 </div>
												
						<div class="form-group">
							<label class="col-sm-3 control-label"  for="bean_level">级别：</label>
							<div class="col-sm-8">
								<input id="bean_level" name="level" value="${bean.level}" class="form-control" type="text"  placeholder="级别" aria-describedby="bean_level-error"  maxlength=""   aria-invalid="true">
								<span id="bean_level-error" class="help-block m-b-none"><i class="fa fa-info-circle"></i></span>
							 </div>
						 </div>
												
						<div class="form-group has-error">
							<label class="col-sm-3 control-label"  for="bean_pCode">上下级组合编码：</label>
							<div class="col-sm-8">
								<textarea id="bean_pCode" name="pCode" placeholder="上下级组合编码" class="form-control" aria-describedby="bean_pCode-error"  maxlength="1000"  aria-invalid="true">${bean.pCode}</textarea>
								<span id="bean_pCode-error" class="help-block m-b-none"><i class="fa fa-times-circle"></i></span>
							</div>
						</div>						
						<div class="form-group">
							<label class="col-sm-3 control-label"  for="bean_memo">备注：</label>
							<div class="col-sm-8">
								<input id="bean_memo" name="memo" value="${bean.memo}" class="form-control" type="text"  placeholder="备注" aria-describedby="bean_memo-error"  maxlength="255"   aria-invalid="true">
								<span id="bean_memo-error" class="help-block m-b-none"><i class="fa fa-info-circle"></i></span>
							 </div>
						 </div>
						

						<div class="col-sm-12">
						<div style="width: 200px; margin: 0 auto;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<% include("../include/public_last_js_css.html"){} %>
	<script type="text/javascript">
	$().ready(function(){
		$("#pano01_01").validate();
	});
	</script>
</body>
</html>

