<%
 /*	
 * 全景_评论 后台管理 (初始化页面)
 *		
 * VERSION      DATE          BY              REASON		
 * -------- ----------- --------------- ---------------------------	
 * 1.00     2016.10.02      easycode         程序.发布		
 * -------- ----------- --------------- ---------------------------	
 * Copyright 2016 pano System. - All Rights Reserved.
 *	
 */
%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<% layout("../include/meta.html"){}%>
	<% layout("../include/public_init_js_css.html"){}%>
	<style type="text/css">
	</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-md-12">
				<% layout("../include/notifications.html"){}%>
				<div class="clients-list">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">信息列表</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<table class="table">
										<tr>
											<td>
												<form id="info_search_form" 
													role="form" class="form-inline" 
													method="post"  accept-charset="UTF-8" 
													action="javascript:loadUrlPage(null,'info_search_form','info_list_div');" 
													data-action="${basePath}h/pano/comments/list">
													<input type="hidden" name="pageNum" id="pageNumA" value="${bean.pageNum!}">
													<div class="form-group" id="data_5">
														<label class="font-noraml">创建时间</label>
														<div class="input-daterange input-group" id="datepicker">
															<input type="text" placeholder="点击输入起始时间"  class="input-sm form-control" name="dateBegin" value="" />
															<span class="input-group-addon">到</span> 
															<input type="text" placeholder="点击输入截止时间"  class="input-sm form-control" name="dateEnd" value="" />
														</div>
													</div>
													<div class="input-group">
														<input type="text" name="content" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
															<button type="submit" class="btn btn-sm btn-primary">搜索</button>
															<button type="reset" class="btn btn-sm btn-dafault">重置</button>
														</span>
													</div>
												</form>
											</td>
										</tr>
									</table>
									<div id="info_list_div">
										<div class="alert alert-warning mt10">
											<strong>数据加载中!</strong>data loading...
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<% layout("../include/public_last_js_css.html"){}%>
	<script>
		$("#data_5 .input-daterange").datepicker({
			keyboardNavigation : !1,
			forceParse : !1,
			autoclose : !0
		});
		//初始加载..
		loadUrlPage(null, 'info_search_form', 'info_list_div');
	</script>
</body>
</html>
