@[
 /*	
 * 全景_视频(初始化页面 信息列表)
 *		
 * VERSION      DATE          BY              REASON		
 * -------- ----------- --------------- ---------------------------	
 * 1.00     2016.10.02      easycode         程序.发布		
 * -------- ----------- --------------- ---------------------------	
 * Copyright 2016 pano System. - All Rights Reserved.
 *	
 */
 /]
<div class="table-responsive table-scrollable">
	<table class="table table-bordered table-striped  table-hover">
		<thead>
			<tr>
				<th style="width:20px;">#</th>
				<th style="width:20px;">version</th>
				<th>视频名称</th>
				<th style="width:100px;">二维码</th>
				<th class="col-md-2">引用链接</th>
				<th style="width:150px;">创建时间</th>
				<th style="width:390px;">操作</th>
			</tr>
		</thead>
		<tbody>
			@[
			if(beans!=null && beans.~size>0){
				for(bean in beans){
			 /]
			<tr>
				<td>${PAGEROW_OBJECT_KEY.startRow+beanLP.index-1}</td>
				<td>${bean.version}</td>
				<td>${bean.name}</td>
				<td>
					<!--<img style="" src='http://qr.liantu.com/api.php?w=100&m=10&text=${basePath}video/${bean.id}'/>-->
					<div class="qrcode">
						 <div class="sizes">
							 <a  href="#" class="blue line" onClick="get_qrcode('${bean.id}',100,${bean.version})">100px*100px</a> 
							 <a  href="#" class="blue line" onClick="get_qrcode('${bean.id}',200,${bean.version})">200px*200px</a>
							 <a  href="#" class="blue line" onClick="get_qrcode('${bean.id}',300,${bean.version})">300px*300px</a>
							 <a  href="#" class="blue line" onClick="get_qrcode('${bean.id}',500,${bean.version})">500px*500px</a>
						 </div>
						 <a href="javascript:;" class="blue line">二维码</a>
					 </div>
					
				</td>
				<td>
				<span>${basePath}video/${bean.id}</span>
				</td>
				<td>${bean.dateCreated,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
				<td>
				    @[ if(shiro.hasPermission("video:edit")){ /]
	                  <a href="javascript:;"  onclick="openMyBoxLayer('e','${basePath}h/video/edit/${bean.id}');" class="label label-success" ><i class="fa fa-edit"></i> 编辑</a>
	               @[ } /]
 	               @[ if(shiro.hasPermission("video:del")){ /]
 	                  <a href="javascript:;"  onclick="if(confirm('确认删除吗?')){delInfoData('${basePath}h/video/del/${bean.id}');};" rel="nofollow" class="label label-danger" ><i class="fa fa-trash-o"></i> 删除</a>
 	               @[ } /]
	               <a href="${basePath}video/${bean.id}" target="_blank" class="label label-primary" ><i class="fa fa-desktop"></i> 预览</a>
                </td>
			</tr>
			@[
				}
			}else{
			 /]
			<tr>
				<td colspan="6">
				<div class="alert"><strong>暂无数据!</strong></div>
				</td>
			</tr>
			@[ } /]
		</tbody>
	</table>
	<#pageTag func="loadUrlPage" params="'info_search_form','info_list_div'" />
	</div>
	<script type="text/javascript">
	 //判断是否尾页
	 if(${PAGEROW_OBJECT_KEY.hasNextPage!}){
	 	$('#pageNumA').val(${PAGEROW_OBJECT_KEY.pageNum!});
	 }
	</script>
