@[
 /*	
 * 全景_项目 后台管理 (初始化页面)
 *		
 * VERSION      DATE          BY              REASON		
 * -------- ----------- --------------- ---------------------------	
 * 1.00     2016.10.02      easycode         程序.发布		
 * -------- ----------- --------------- ---------------------------	
 * Copyright 2016 pano System. - All Rights Reserved.
 *	
 */
 /]
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	@[ layout("../include/meta.html"){} /]
	@[ layout("../include/public_init_js_css.html"){} /]
	<style type="text/css">
	.qrcode{
	position:relative;
	width: 100px;
	}
	.qrcode .sizes{
	position:absolute;top:-38px;padding:5px;background:#fff;border:1px solid #ddd;display:none;
	}
	.qrcode:hover .sizes{
	display:block;
	}
	.qrcode .line{display:block;width: 100px;text-align: center;}
	.folder-list li{text-align: left; margin-top: 3px;}
	.folder-list li.label-primary a,.folder-list li.label-primary i{color: #ffffff;}
	.folder-list li.myacolor i{float: right;color: #a94442;}
	.folder-list li.myacolor a{ color: #a94442;font-weight: bolder}
	</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="clients-list">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">信息列表</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<div class="col-sm-2  b-r">
								<div class="ibox float-e-margins ">
									<div class="ibox-content mailbox-content">
										<div class="file-manager">
											<div class="space-25"></div>
											<h5 class="label label-success">全景类目</h5>
											<ul class="folder-list m-b-md " style="padding: 0">
												<li  class="myacolor"  data-id="0">
													<a href="#"> -全部-  <i class="fa fa-chevron-right"></i></a>
												</li>
												@[ for(b in nodes !){ /]
												<li  class=" "  data-id="${b.id}">
													<a href="#">${b.name}  <i class=""></i> </a>
												</li>
												@[ layout("pano_category_tree_li.html",{treeIndex:1,nodes:b.nodes}){} /]
												@[ } /]
											</ul>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-10">
								<div class="ibox float-e-margins">
									<div class="ibox-content">
										@[ layout("../include/notifications.html"){} /]
										<table class="table">
											<tr>
												<td>
													<form id="info_search_form"
														role="form" class="form-inline"
														method="post"  accept-charset="UTF-8"
														action="javascript:loadUrlPage(null,'info_search_form','info_list_div');"
														data-action="${basePath}h/video/list">
														<input type="hidden" name="pageNum" id="pageNumA" value="1">
														<input type="hidden" name="categoryId" id="categoryIdA" value="">
														<div class="form-group" id="data_5">
															<label class="font-noraml">创建时间</label>
															<div class="input-daterange input-group" id="datepicker">
																<input type="text" placeholder="点击输入起始时间"  class="input-sm form-control" name="dateBegin" value="" />
																<span class="input-group-addon">到</span>
																<input type="text" placeholder="点击输入截止时间"  class="input-sm form-control" name="dateEnd" value="" />
															</div>
														</div>
														<div class="input-group">
															<input type="text" name="name" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
																<button type="submit" class="btn btn-sm btn-primary">搜索</button>
																<button type="reset" class="btn btn-sm btn-dafault">重置</button>
															</span>
														</div>
													</form>
												</td>
											</tr>
										</table>
										@[ if(shiro.hasPermission("video:add")){ /]
										<a href="#" onclick="openMyBoxLayer('a','${basePath}h/video/edit/0');" class="btn btn-xs btn-success"><i class="fa fa-edit"></i> 新增/添加</a>
										@[ } /]
										<div id="info_list_div">
											<div class="alert alert-warning mt10">
												<strong>数据加载中!</strong>data loading...
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	@[ layout("../include/public_last_js_css.html"){} /]
	<script>
		//打开不同尺寸的二维码
		function get_qrcode(pid,size,version){
            openMyBoxLayer('二维码','http://qr.liantu.com/api.php?w='+size+'&m=10&text=${basePath}video/'+pid);
		}
		$("#data_5 .input-daterange").datepicker({
			keyboardNavigation : !1,
			forceParse : !1,
			autoclose : !0
		});
		//初始加载..
		loadUrlPage(null, 'info_search_form', 'info_list_div');
        $('.folder-list li').click(function(){
            //移除全部样式
            $('.folder-list li').removeClass('myacolor');
            $('.folder-list i').removeClass('fa fa-chevron-right');
            //添加新样式
            $(this).addClass('myacolor');
            $(this).find('i').addClass('fa fa-chevron-right');
            //设置栏目id
            $('#categoryIdA').val($(this).attr('data-id'));
            //刷新列表
            loadUrlPage(null, 'info_search_form', 'info_list_div');
        });
	</script>
</body>
</html>
