<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu1g.panorama.mapper.IpanoramaContactPicsMapper" >
	<!-- 新增 批量数据 -->
	<insert id="insertBatch">
		insert into t_panorama_contact_pics(
		panorama_contact_id
		,pic_url
		,created_at
		) values
		<foreach collection="list" item="t" separator=",">
		(
		#{t.panoramaContactId}
		,#{t.picUrl}
		,now()
		)
		</foreach>
	</insert>
</mapper>