@[
/*
 * 系统_数据字典 后台管理 (初始化页面)
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
 /]
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	@[ layout("../include/meta.html"){} /]
	@[ layout("../include/public_init_js_css.html"){} /]
	<link href="${basePath!}plugins/hplus/css/plugins/treeview/bootstrap-treeview.css" rel="stylesheet">
	<style type="text/css">
	</style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			@[ layout("../include/notifications.html"){} /]
			<div class="clients-list">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">信息树</a></li>
					<li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="true">信息列表</a></li>
				</ul>
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<div class="row">
									<div class="col-sm-12">
										<div class="col-md-4">
											<div class="ibox float-e-margins">
												<div class="ibox-title">
													@[ if(shiro.hasPermission("sysDic:add")){ /]
													<a href="#" onclick="openMyBoxLayer('a','${basePath}h/sys/dic/edit/0');"
													   class="btn btn-xs btn-success"><i class="fa fa-edit"></i> 新增/添加</a>
													@[ } /]
													<div class="ibox-tools">
														<a href="#" onclick="getDataTree();">
															<i class="glyphicon glyphicon-refresh"></i>
														</a>
													</div>
												</div>
												<div class="ibox-content">
													<div id="disTree" class="test"></div>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<table class="table table-bordered table-striped  table-hover" style="min-width:500px;width: 500px;">
												<thead  id="event_output">
												</thead>
											</table>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<table class="table">
									<tr>
										<td>
											<form id="info_search_form"
												  role="form" class="form-inline"
												  method="post"  accept-charset="UTF-8"
												  action="javascript:loadUrlPage(null,'info_search_form','info_list_div');"
												  data-action="${basePath}h/sys/dic/list">
												<input type="hidden" name="pageNum" id="pageNumA" value="1">
												<div class="form-group" id="data_5">
													<label class="font-noraml">创建时间</label>
													<div class="input-daterange input-group" id="datepicker">
														<input type="text" placeholder="点击输入起始时间"  class="input-sm form-control" name="dateBegin" value="" />
														<span class="input-group-addon">到</span>
														<input type="text" placeholder="点击输入截止时间"  class="input-sm form-control" name="dateEnd" value="" />
													</div>
												</div>
												<div class="input-group">
													<input type="text" name="keyword" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
															<button type="submit" class="btn btn-sm btn-primary">搜索</button>
															<button type="reset" class="btn btn-sm btn-dafault">重置</button>
														</span>
												</div>
											</form>
										</td>
									</tr>
								</table>
								@[ if(shiro.hasPermission("sysDic:add")){ /]
								<a href="#" onclick="openMyBoxLayer('a','${basePath}h/sys/dic/edit/0');"
								   class="btn btn-xs btn-success"><i class="fa fa-edit"></i> 新增/添加</a>
								@[ } /]
								<div id="info_list_div">
									<div class="alert alert-warning mt10">
										<strong>数据加载中!</strong>data loading...
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
@[ layout("../include/public_last_js_css.html"){} /]
<script src="${basePath!}plugins/hplus/js/plugins/treeview/bootstrap-treeview.js"></script>
<script>
    $("#data_5 .input-daterange").datepicker({
        keyboardNavigation : !1,
        forceParse : !1,
        autoclose : !0
    });
    //初始加载..
    loadUrlPage(null, 'info_search_form', 'info_list_div');


    var treeviewA=$('#disTree').treeview({
		color: "#428bca",
		showTags: true,
		data: [],
		onNodeSelected: function (event, node) {
			var trStr='';
				trStr+=' <tr><th class="col-md-2">编码:</th><th class="">'+node.code+'</th></tr>';
				trStr+=' <tr><th class="col-md-2">名称:</th><th class="">'+node.name+'</th></tr>';
				trStr+=' <tr><th class="col-md-2">备注:</th><th class="">'+node.memo+'</th></tr>';
				@[ if(shiro.hasPermission("sysDic:edit")||shiro.hasPermission("sysDic:del")){ /]
				trStr+=' <tr><th class="col-md-2">操作:</th><th> ';
				@[ if(shiro.hasPermission("sysDic:edit")){ /]
					trStr+=' <a href="javascript:;"  onclick="openMyBoxLayer(\'e\',\'${basePath}h/sys/dic/edit/'+node.id+'\');" class="label label-success" ><i class="fa fa-edit"></i> 编辑</a>';
				@[ } /]
				@[ if(shiro.hasPermission("sysDic:edit")){ /]
					if(node.nodes==undefined && node.tags[0]==0) {
						trStr+= ' <a href="javascript:;"  onclick="if(confirm(\'确认删除吗?\')){delInfoData(\'${basePath}h/sys/dic/del/' + node.id + '\');};" rel="nofollow" class="label label-danger" ><i class="fa fa-trash-o"></i> 删除</a>';
					}
				@[ } /]
				trStr+=' </th></tr>';
			@[ } /]
			$('#event_output').html(trStr);
		}
	});
    function getDataTree(){
        $.get(basePath+"h/sys/dic/jsonTree", {},
            function (result) {
                //console.info("获取数据.." + JSON.stringify(result));
                if (result.code == 0) {
                    treeviewA.treeview({data: result.data});
				} else {
				    alert(result.message);
				}
			}, 'json');
	}
    getDataTree();
</script>
</body>
</html>
