<%
 /*	
 * 系统_站内信 后台管理 (信息编辑页面)
 *
 * VERSION      DATE          BY              REASON
 * -------- ----------- --------------- ---------------------------
 * 1.00     2017-03-30      easycode         程序.发布
 * -------- ----------- --------------- ---------------------------
 * Copyright 2017 System. - All Rights Reserved.
 */
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<% include("../include/meta.html"){} %>
<% include("../include/public_init_js_css.html"){} %>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-content col-md-12">
				<form id="sysMessage_01" method="post" class="form m-t" target="_parent" accept-charset="UTF-8" action="${basePath}h/sys/sysMessage/save">
					<div class="col-md-12" style="height: 50px;">
						<div style="float:right;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
					<input type="hidden" name="pageNum" id="bean-pageNum" value="${bean.pageNum}">
					<input type="hidden" name="id" value="${bean.id}" />
					<input type="hidden" name="token" value="${bean.token}" />
					<input type="hidden" name="newFlag" value="${bean.newFlag}" />
					<div class="clearfix "></div>
					<div class="col-sm-6 b-r">

                        <div class="form-group">
                            <label class="col-md-3 control-label">发件人id[0代表管理员]：</label>
                            <div class="col-md-8">
                            ${bean.sendId}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">收件人id[0代表所有人]：</label>
                            <div class="col-md-8">
                            ${bean.acceptId}
                            </div>
                        </div>

					</div>
					<div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-md-3 control-label">消息标题：</label>
                            <div class="col-md-8">
                            ${bean.title}
                            </div>
                        </div>
