<%
 /*	
 * 广告管理 后台管理 (信息编辑页面)
 *
 * VERSION      DATE          BY              REASON
 * -------- ----------- --------------- ---------------------------
 * 1.00     2017-03-19      easycode         程序.发布
 * -------- ----------- --------------- ---------------------------
 * Copyright 2017 System. - All Rights Reserved.
 */
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<% include("../include/meta.html"){} %>
<% include("../include/public_init_js_css.html"){} %>
<link href="${basePath}css/upload.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-content col-md-12">
				<form id="sysAdvertise_01" method="post" class="form m-t" target="_parent" accept-charset="UTF-8" action="${basePath}/h/sys/sysAdvertise/save">
					<div class="col-md-12" style="height: 50px;">
						<div style="float:right;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
					<input type="hidden" name="pageNum" id="bean-pageNum" value="${bean.pageNum}">
					<input type="hidden" name="id" value="${bean.id}" />
					<input type="hidden" name="token" value="${bean.token}" />
					<input type="hidden" name="newFlag" value="${bean.newFlag}" />
					<div class="clearfix "></div>
					<div class="col-sm-6 b-r">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">广告名称：</label>
                            <div class="col-sm-8">
                                <input id="bean-name" name="name" value="${bean.name}" class="form-control" type="text"  placeholder="请输入广告名称"  aria-describedby="bean-name-error"  maxlength="255"   aria-invalid="true">
                                <span id="bean-name-error" class="help-block m-b-none"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">图片地址：</label>
                            <div class="col-sm-8">
                                <span  class="help-block m-b-none"><button type="button" id="upload_btn_imgUrl">点击上传</button></span>
                                <div id="upload_div_imgUrl" style="">
                                    <% if(isNotEmpty(bean.imgUrl)){%>
                                    <div class="img-grid-2">
                                        <input name="imgUrl" value="${bean.imgUrl}" type="hidden">
                                        <img src="${bean.imgUrl}" style="max-width:264px;max-height:264px">
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">广告链接地址：</label>
                            <div class="col-sm-8">
                                <input id="bean-linkUrl" name="linkUrl" value="${bean.linkUrl}" class="form-control" type="text"  placeholder="请输入广告链接地址"  aria-describedby="bean-linkUrl-error"  maxlength="255"   aria-invalid="true">
                                <span id="bean-linkUrl-error" class="help-block m-b-none"></span>
                            </div>
                        </div>

					</div>
					<div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态0下架1上架：</label>
                            <div class="col-sm-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="state" value="option1">启用状态0下架1上架</label>
                                <span id="bean-state-error" class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">广告位置：</label>
                            <div class="col-sm-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="position" value="option1">启用广告位置</label>
                                <span id="bean-position-error" class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <textarea id="bean-memo" name="memo" class="form-control"  placeholder="请输入备注"  required="" aria-required="true"  aria-describedby="bean-memo-error"  maxlength="255"   aria-invalid="true">${bean.memo}</textarea>
                                <span id="bean-memo-error" class="help-block m-b-none"></span>
                            </div>
                        </div>
					</div>
					<div class="clearfix "></div>
					<div class="col-md-12" style="height: 50px;">
						<div style="width: 200px; margin: 0 auto;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% include("../include/public_last_js_css.html"){} %>
<script type="text/javascript" src="${basePath}plugins/plupload/js/plupload.min.js"></script>
<script type="text/javascript" src="${basePath}js/upload_single_pic.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	formValidate();
});
function formValidate(){
	setTimeout(function(){
		$("#sysAdvertise_01").validate();
	},1000);
}
upload_single_pic('upload_btn_imgUrl','upload_div_imgUrl','png,jpg,gif,bmp','imgUrl');
</script>
</body>
</html>

