<%
 /*	
 * 系统_资讯 后台管理 (信息编辑页面)
 *
 * VERSION      DATE          BY              REASON
 * -------- ----------- --------------- ---------------------------
 * 1.00     2017-03-30      easycode         程序.发布
 * -------- ----------- --------------- ---------------------------
 * Copyright 2017 System. - All Rights Reserved.
 */
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<% include("../include/meta.html"){} %>
<% include("../include/public_init_js_css.html"){} %>
<link href="${basePath}css/upload.css" rel="stylesheet">
<link rel="stylesheet" href="${basePath}plugins/editor/themes/default/default.css" />
<link rel="stylesheet" href="${basePath}plugins/editor/plugins/code/prettify.css" />
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-content col-md-12">
				<form id="sysNews_01" method="post" class="form m-t" target="_parent" accept-charset="UTF-8" action="${basePath}/h/sys/sysNews/save">
					<div class="col-md-12" style="height: 50px;">
						<div style="float:right;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
					<input type="hidden" name="pageNum" id="bean-pageNum" value="${bean.pageNum}">
					<input type="hidden" name="id" value="${bean.id}" />
					<input type="hidden" name="token" value="${bean.token}" />
					<input type="hidden" name="newFlag" value="${bean.newFlag}" />
					<div class="clearfix "></div>
					<div class="col-sm-6 b-r">

                        <div class="form-group">
                            <label class="col-md-3 control-label">标题：</label>
                            <div class="col-md-8">
                                <input id="bean-title" name="title" value="${bean.title}" class="form-control" type="text"  placeholder="请输入标题"  required="" aria-required="true"  aria-describedby="bean-title-error"  maxlength="55"   aria-invalid="true">
                                <span id="bean-title-error" class="help-block m-b-none"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">副标题：</label>
                            <div class="col-md-8">
                                <input id="bean-secondTitle" name="secondTitle" value="${bean.secondTitle}" class="form-control" type="text"  placeholder="请输入副标题"  aria-describedby="bean-secondTitle-error"  maxlength="255"   aria-invalid="true">
                                <span id="bean-secondTitle-error" class="help-block m-b-none"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">标题图：</label>
                            <div class="col-md-8">
                                <span  class="help-block m-b-none"><button type="button" id="upload_btn_coverPic">点击上传</button></span>
                                <div id="upload_div_coverPic" style="">
                                    <% if(isNotEmpty(bean.coverPic)){%>
                                    <div class="img-grid-2">
                                        <input name="coverPic" value="${bean.coverPic}" type="hidden">
                                        <img src="${bean.coverPic}" style="max-width:264px;max-height:264px">
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-md-3 control-label">简介：</label>
                            <div class="col-md-8">
                                <textarea id="bean-briefInfo" name="briefInfo" class="form-control"  placeholder="请输入简介"  aria-describedby="bean-briefInfo-error"  maxlength="255"   aria-invalid="true">${bean.briefInfo}</textarea>
                                <span id="bean-briefInfo-error" class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">置顶：</label>
                            <div class="col-sm-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="isOntop" value="option1">启用置顶</label>
                                <span id="bean-isOntop-error" class="help-block m-b-none"></span>
                            </div>
                        </div>
					</div>

					<div class="clearfix "></div>
					<div class="col-md-12">

                        <div class="form-group">
                            <label class="col-md-3 control-label">详情：</label>
                            <div class="col-md-12">
                                <textarea id="bean-detailInfo" name="detailInfo" style="height: 300px;width: 100%;" class="form-control"  placeholder="请输入详情"  aria-describedby="bean-detailInfo-error"  maxlength="4294967295"   aria-invalid="true">
                                ${bean.detailInfo}
                                </textarea>
                                <span id="bean-detailInfo-error" class="help-block m-b-none"></span>
                            </div>
                        </div>
					</div>
					<div class="clearfix "></div>
					<div class="col-md-12" style="height: 50px;">
						<div style="width: 200px; margin: 0 auto;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% include("../include/public_last_js_css.html"){} %>
<script charset="utf-8" src="${basePath}plugins/editor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="${basePath}plugins/plupload/js/plupload.min.js"></script>
<script type="text/javascript" src="${basePath}js/upload_single_pic.js"></script>
<script type="text/javascript">
KindEditor.ready(function(K) {

    //--编辑框(完整)[详情]
    K.create('#bean-detailInfo', {
        resizeType : 2,
        uploadJson : '${basePath}fileUpload?isrich=1',
        fileManagerJson : '${basePath}fileManagerServlet',
        allowFileManager : true
    });
});
$(document).ready(function(){
	formValidate();
});
function formValidate(){
	setTimeout(function(){
		$("#sysNews_01").validate();
	},1000);
}
upload_single_pic('upload_btn_coverPic','upload_div_coverPic','png,jpg,gif,bmp','coverPic');
</script>
</body>
</html>

