@[
/*
 * meta头
 *
 * VERSION  DATE        BY           REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00     2016-09-24  wuxiaogang   程序・发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2016 baseos System. - All Rights Reserved.
 *
 */
/]

<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<link rel="shortcut icon" href="${basePath}favicon.ico">
<meta name="keywords" content="${keywords!}"/>
<meta name="description" content="${description!}" />
<script type="text/javascript">
if (window.top !== window.self) {
    window.top.location = window.location
}
var basePath='${basePath}';
</script>

