/* CSS Document */


label.form-control{background-color:rgb(252, 252, 252);;border: 0px;}

.ng-cloak {
    display: none
}

.table-scrollable {
    border: 0px solid #dddddd;
    margin: 5px 0 !important;
}

.form-actions {
    margin-bottom: 10px;
}

.table thead {
    background: #eee;
}

.date-col {
    width: 150px;
}

.version-col {
    width: 50px;
}

table.table-bordered tr td {
    border: 1px solid #e7e7e7;
}

.hid {
    display: none
}

.b_page {
    width: 738px;
    height: 30px;
    display: block;
    clear: both;
}

.b_page {
    width: auto;
    height: 30px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 7px 0 0 20px;
    float: right;
}

.b_page a {
    width: auto;
    height: 25px;
    line-height: 22px;
    border: 1px solid #cdcdcb;
    float: left;
    margin-right: 4px;
    padding: 0 8px;
}

.b_page a.dot {
    border: none;
    padding: 0 1px
}

.b_page a.dot:hover {
    border: none;
    cursor: text;
    background: none;
    color: #5B5B5B;
}

.b_page a:hover {
    background: #1c84c6;
    border: 1px solid #4b6f0a;
    cursor: pointer;
    color: #FFF;
}

.b_page a.on {
    background: #1c84c6;
    border: 1px solid #4b6f0a;
    cursor: pointer;
    color: #FFF;
}

.b_page a, .b_page a:visited {
    color: #5B5B5B;
    font-size: 12px;
    display: block;
}

.b_page a:hover, .b_page li:hover a {
    color: #fff;
    display: block;
}

.b_page a.disabled {
    background: #FFF;
    border: 1px solid #cdcdcb;
    color: #5B5B5B;
    cursor: text;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0px;
    height: 0px;
}