<form id="table_form"
      role="form" class="form-inline"
      method="post"  accept-charset="UTF-8"
      action="javascript:void(0);"
      data-action="${basePath}column">
    <%
        for(db in dbs!){
    %>
        <input type="hidden" name="dbs" value="${db}">
    <%}%>

    <table class="table table-bordered table-striped  table-hover">
        <thead>
        <tr>
            <th class="col-sm-3">表名</th>
            <th class="col-sm-3">注释</th>
            <th class=""></th>
        </tr>
        </thead>
        <tbody>
        <%
        for(bean in result.data!){
        %>
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="tables" value="${bean.tableName!}" class="checked_${bean.tableName!}" onclick="ec.clickCheck2(this)">
                    ${beanLP.index}.${bean.dbName!}.${bean.tableName!}
                </label>
            </td>
            <td>
                <input type="hidden" name="${bean.tableName!}_comment" value="${bean.tableComment!}">
                <input type="hidden" name="${bean.tableName!}_db" value="${bean.dbName!}">
                ${bean.tableComment!}
            </td>
            <td>

            </td>
        </tr>
        <%
        }elsefor{
        %>
        <tr>
            <td colspan="3">
                <div class="alert"><strong>暂无数据!${result.message!}</strong></div>
            </td>
        </tr>
        <%}%>
        </tbody>
    </table>
</form>
<a href="javascript:void(0);" onclick="$('#example-vertical-t-0').click();" class="btn btn-xs btn-info"> <i class="glyphicon glyphicon-chevron-left"></i> PREVIOUS</a>
<a href="javascript:void(0);" onclick="submitForm('table_form','column_list');$('#example-vertical-t-2').click();" class="btn btn-xs btn-success">NEXT <i class="glyphicon glyphicon-chevron-right"></i> </a>