<%
/*
 * 没有权限
 *
 * VERSION  DATE        BY           REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00     2015-01-13  wuxiaogang   程序・发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 softvan System. - All Rights Reserved.
 *
 */
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<title>您没有足够的权限访问这个页面.</title>
</head>
<body>
您没有足够的权限访问这个页面。
</body>
</html>
