<%
/*
 * 系统_数据字典 后台管理 (信息编辑页面)
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<% include("../include/meta.html"){} %>
	<% include("../include/public_init_js_css.html"){} %>
	<style type="text/css">
	</style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-content col-sm-12">
				<form id="id_formid" method="post" class="form-horizontal m-t" target="_parent" accept-charset="UTF-8" action="${basePath}/h/sys03/save">
					<input type="hidden" name="pageNum" id="bean_pageNum" value="${bean.pageNum}">
					<input type="hidden" name="id" value="${bean.id}" />
					<input type="hidden" name="token" value="${bean.token}" />
					<div class="form-group">
						<label class="col-md-2 control-label" for="bean_parentid">父级</label>
					  <div class="col-md-8">
					      <input type="text" class="form-control" x_placeholder="请输入父级" id="bean_parentid" name="parentid" value="${bean.parentid}"/>
							<span class="help-block"></span>
					  </div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="bean_code">编码</label>
					  <div class="col-md-8">
					      <input type="text" class="form-control" x_placeholder="请输入编码" id="bean_code" name="code" value="${bean.code}"/>
							<span class="help-block"></span>
					  </div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="bean_name">名称</label>
					  <div class="col-md-8">
					      <input type="text" class="form-control" x_placeholder="请输入名称" id="bean_name" name="name" value="${bean.name}"/>
							<span class="help-block"></span>
					  </div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="bean_memo">备注</label>
					   <div class="col-md-8">
					     <textarea class="form-control" rows="3" x_placeholder="请输入备注" id="bean_memo" name="memo">${bean.memo}</textarea>
							<span class="help-block"></span>
					   </div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="bean_orderNo">排序</label>
					  <div class="col-md-8">
					      <input type="number" class="form-control" x_placeholder="请输入排序" id="bean_orderNo" name="orderNo" value="${bean.orderNo==null?0:bean.orderNo}"/>
							<span class="help-block"></span>
					  </div>
					</div>

					<div class="col-sm-12">
						<div style="width: 200px; margin: 0 auto;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% include("../include/public_last_js_css.html"){} %>
<script type="text/javascript">
    $().ready(function(){
        $("#id_formid").validate();
    });
</script>
</body>
</html>