<%
/*
 * 组织架构_部门 后台管理 (信息编辑页面)
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
%>
<% if(isNotEmpty(treeList) && treeList.~size>0){%>
	<%for(bean in treeList){%>
		<% if(_this_self!=bean.id){%>
		<option value="${bean.id}" ${_band_flag==bean.id?'selected="selected"':''}>
		<% for(var xn=1;xn<=numx;xn++){ %>
		|-
		<%}%>
		${bean.name}</option>
		<<% if(isNotEmpty(bean.beans) && bean.beans.~size>0){%>
			<% include("org01_r_select.html",{"numx":numx+1,"treeList":bean.beans}){} %>
			<% numx=numx-1; %>
		<%}%>
		<%}%>
	<%}%>
<%}%>
