<%
/*
* 组织架构_部门 后台管理 (初始化页面)
*
* VERSION  DATE        BY           REASON
* -------- ----------- ------------ ------------------------------------------
* 1.00     2015.10.01  easycode   程序.发布
* -------- ----------- ------------ ------------------------------------------
* Copyright 2015 isd System. - All Rights Reserved.
*
*/
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <% layout("../include/meta.html"){}%>
    <% layout("../include/public_init_js_css.html"){}%>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="clients-list">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">信息列表</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <% layout("../include/notifications.html"){}%>
                                <% if(shiro.hasPermission("panoProj:add")){ %>
                                <a href="#" onclick="openMyBoxLayer('a','${basePath}/h/org01/edit/add');"
                                   class="btn btn-xs btn-success"><i class="fa fa-edit"></i> 新增/添加</a>
                                <%}%>
                                <%var treeList=null;%>
                                <div id="info_list_div" style="margin-top: 30px">
                                    <div class="tree tree-plus-minus tree-solid-line tree-unselectable">
                                <% if(isNotEmpty(beans) && beans.~size>0){ %>
                                    <% for(b in beans){ %>
                                        <%if(isNotEmpty(b.beans) && b.beans.~size>0){%>
                                        <div class="tree-folder" style="display: block;">
                                            <div class="tree-folder-header">
                                                <i class="fa fa-folder-open"></i>
                                                <div class="tree-folder-name">
                                                    ${b.name}
                                                    <div class="tree-actions">
                                                        <%if(shiro.hasPermission("orgDept:edit")){ %>
                                                        <a style="display: block; float: left;"
                                                           href="javascript:;"
                                                           onclick="openMyBoxLayer('e','${basePath}/h/org01/edit/${b.id}');"
                                                           class="label label-success">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                        <%}%>
                                                        <%if(shiro.hasPermission("orgDept:del")){ %>
                                                        <% if(isNotEmpty(b.beans) && b.beans.~size==0){ %>
                                                        <a href="javascript:;"
                                                           onclick="if(confirm('确认删除吗?')){delInfoData('${basePath}/h/org01/del/${b.id}');};"
                                                           class="label label-danger"> <i
                                                                class="fa fa-trash-o"></i>
                                                        </a>
                                                        <%}
                                                        }%>
                                                    </div>
                                                </div>
                                            </div>
                                            <%if(isNotEmpty(b.beans) && b.beans.~size>0){%>
                                            <div class="tree-folder-content">
                                                <% layout("org01_r_init.html",{"treeList":b.beans}){} %>
                                            </div>
                                            <%}%>
                                        </div>
                                        <%}else{%>
                                        <div class="tree-item">
                                            <i class="tree-dot"></i>
                                            <div class="tree-item-name">
                                                ${b.name}
                                                <div class="tree-actions">
                                                    <%if(shiro.hasPermission("orgDept:edit")){ %>
                                                    <a style="display: block; float: left;"
                                                       href="javascript:;"
                                                       onclick="openMyBoxLayer('e','${basePath}/h/org01/edit/${b.id}');"
                                                       class="label label-success">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <%}%>
                                                    <%if(shiro.hasPermission("orgDept:del")){ %>
                                                    <% if(isNotEmpty(b.beans) && b.beans.~size==0){%>
                                                    <a href="javascript:;"
                                                       onclick="if(confirm('确认删除吗?')){delInfoData('${basePath}/h/org01/del/${b.id}');};"
                                                       class="label label-danger">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                    <%}
                                                    }%>
                                                </div>
                                            </div>
                                        </div>
                                        <%if(isNotEmpty(b.beans) && b.beans.~size>0){%>
                                        <div class="tree-folder-content">
                                            <% layout("org01_r_init.html",{"treeList":b.beans}){} %>
                                        </div>
                                        <%}
                                        }}
                                        }%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<% layout("../include/public_last_js_css.html"){}%>
<script>
    //初始加载..
    loadUrlPage(null, 'info_search_form', 'info_list_div');
</script>
</body>
</html>
