<%
/*
 * 权限_权限信息 后台管理  
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
%>
<% if(isNotEmpty(treeList) && treeList.~size>0){%>
<% var dcodex=""; %>
<%for(bean in treeList){%>
		<% checkBoxX=""; %>
		<% if(myDeptBeansx!=null && myDeptBeansx.~size>0){%>
			<%for(myDept in myDeptBeansx){%>
				<%if(myDept.id==bean.id){%>
					<% checkBoxX='oldc="1" checked="checked"'; %>
				<%}%>
			<%}%>
		<%}%>
		  <%if(isNotEmpty(bean.beans) && bean.beans.~size>0){%>
				<div class="tree-folder" style="display: block;">
					<div class="tree-folder-header">
						<i class="fa fa-folder-open"></i>
						<div class="tree-folder-name">
							<label>
							<input type="checkbox" class="${dcode} ${bean.id}" level="${numx}" ${checkBoxX} id="x_${bean.id}" value="${bean.id}" name="deptIdArray">
							${bean.name}
							</label>
						</div>
					</div>
					<%if(isNotEmpty(bean.beans) && bean.beans.~size>0){%>
						<div class="tree-folder-content">
							<%layout("org02_r_checkbox.html",{"bean":bean,"treeList":bean.beans,"numx":numx+1,"dcodex":dcode,"dcode":dcode+bean.id}){} %>
							<% numx=numx-1; %>>
							<% dcode=dcodex; %>
						</div>
					<%}%>
				</div>
			<%}else{%>
				<div class="tree-item">
					<i class="tree-dot"></i>
					<div class="tree-item-name">
						<label>
						<input type="checkbox" class="${dcode} ${bean.id}" level="${numx}" ${checkBoxX}  id="x_${bean.id}" value="${bean.id}" name="deptIdArray">
						${bean.name}
						</label>
					</div>
				</div>
				<%if(isNotEmpty(bean.beans) && bean.beans.~size>0){%>
					<div class="tree-folder-content">
						<%layout("org02_r_checkbox.html",{"bean":bean,"treeList":bean.beans,"numx":numx+1,"dcodex":dcode,"dcode":dcode+bean.id}){} %>
						<% numx=numx-1; %>
						<% dcode=dcodex; %>
					</div>
				<%}%>
			<%}%>
		<%}%>
<%}%>
