<%
/*
 * 组织架构_用户 后台管理 (信息编辑页面)
 *
 * VERSION  DATE		BY		   REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00	 2015.10.01  easycode   程序.发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2015 isd System. - All Rights Reserved.
 *
 */
%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<% include("../include/meta.html"){} %>
	<% include("../include/public_init_js_css.html"){} %>
	<style type="text/css">
	</style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="ibox float-e-margins">
			<div class="ibox-content col-sm-12">
				<form id="id_form" method="post" class="form-horizontal m-t" target="_parent" accept-charset="UTF-8" action="${basePath}h/org/orgUser/save">
					<input type="hidden" name="pageNum" id="bean_pageNum" value="${bean.pageNum}"/>
					<input type="hidden" name="id" value="${bean.id}" />
					<input type="hidden" name="token" value="${bean.token}" />
                    <input type="hidden" name="newFlag" value="${bean.newFlag}" />
                    <input type="hidden" name="type" id="bean_type" value="0">
					<%if(bean.UserId!='admin' ){%>
					<%if(shiro.hasPermission("orgUser:role.edit")){%>
					<div class="col-md-12 ">
						<label class="control-label">角色></label>
						<div class="form-group ">
								<%if(isNotEmpty(roleBeans)){
									for(role in roleBeans){
										var myrolex='';
										if(isNotEmpty(myRoleBeans)){
											for(myrole in myRoleBeans){
												if(role.id==myrole.id){
													myrolex='checked="checked"';
												}
											}
										}%>
										<label class="checkbox-inline"> <input id="${role.id}" value="${role.id}" ${myrolex} type="checkbox" name="roleIdArray">
											${role.name}
										</label>
									<%}%>
								<%}%>
						</div>
					</div>
					<%}%>
					<%}%>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-md-2 control-label" for="bean_UserId">登录名</label>
							<div class="col-md-8">
							<%if(bean.UserId==null){%>
								<input type="text" class="form-control" placeholder="请输入用户登录名"
									id="bean_UserId" name="UserId" value="" required="" aria-required="true" maxlength="20" aria-invalid="true" />
							<%}%>
							<%if(bean.UserId!=null){%>
								<input type="text" class="form-control" disabled="disabled" value="${bean.UserId}" />
							<%}%>
								<span class="help-block"></span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label" for="bean_name">成员名称</label>
							<div class="col-md-8">
								<input type="text" class="form-control" placeholder="请输入成员名称"
									id="bean_name" name="name" value="${bean.name}" required="" aria-required="true" maxlength="20" aria-invalid="true" /> <span
									class="help-block"></span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label" for="bean_mobile">移动电话</label>
							<div class="col-md-8">
								<input type="text" class="form-control" placeholder="请输入移动电话"
									id="bean_mobile" name="mobile" value="${bean.mobile}" />
								<span class="help-block"></span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label" for="bean_email">邮箱</label>
							<div class="col-md-8">
								<input type="text" class="form-control" placeholder="请输入邮箱"
									id="bean_email" name="email" value="${bean.email}" /> <span
									class="help-block"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 ">
						<div class="form-group">
							<label class="col-md-2 control-label">登录密码</label>
							<div class="col-md-8">
								<input type="hidden" name="pwd"  id="bean_pwd" value="" />
								<input type="password" class="form-control" name="pwd_x" onchange="cPwd(this.value)"  onblur="cPwd(this.value)" placeholder="不修改请留空" value="" />
								<span class="help-block"></span>
							</div>
						</div>
						<!--<div class="form-group">-->
							<!--<label class="col-md-2 control-label" for="bean_jobNo">工号</label>-->
							<!--<div class="col-md-8">-->
								<!--<input type="text" class="form-control" placeholder="请输入工号"-->
									<!--id="bean_jobNo" name="jobNo" value="${bean.jobNo}" /> <span-->
									<!--class="help-block"></span>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label class="col-md-2 control-label" for="bean_tel">固定电话</label>-->
							<!--<div class="col-md-8">-->
								<!--<input type="text" class="form-control" placeholder="请输入固定电话"-->
									<!--id="bean_tel" name="tel" value="${bean.tel}" /> <span-->
									<!--class="help-block"></span>-->
							<!--</div>-->
						<!--</div>-->
						<div class="form-group">
							<div class="col-sm-10" style="text-align: left; margin-left: 5px;">
								<div class="checkbox">
									<label><input  class="checkbox" value="0"  ${bean.enable=='0'?'checked="checked"':''} type="checkbox" name="enable" />启用账号</label>
								</div>
							</div>
						</div>
						<%if(shiro.hasPermission("orgUser:dept.edit")){%>
						<%if(isNotEmpty(deptTree) && deptTree.~size>0){%>
						<div class="form-group">
							<label class="col-md-2 control-label">部门列表</label>
							<div class="col-md-8">
									<%
									var deptBeansCopy=null;
									var dcode="";
									var checkBoxX="";
									if(isNotEmpty(deptBeans) && deptBeans.~size>0 ){
										deptBeansCopy=deptBeans;
									}
									for(b in deptTree!){
										dcode=b.id;
										checkBoxX="";
										checkLabel="";
										for(dept in deptBeans!){
											if(dept.id==b.id){
												checkBoxX='oldc="1" checked="checked"';
												checkLabel=' style="color:#1c84c6;"';
											}
										}
									%>
									<p>
										<label ${checkLabel}>
											-
											<input type="checkbox" class="${dcode}" level="0" ${checkBoxX} id="x_${b.id}" value="${b.id}" name="deptIdArray">
											${b.name}
										</label>
									</p>
									<%if(isNotEmpty(b.beans) && b.beans.~size>0){
										layout("org_user_tree_checkbox.html",{beans:b.beans,deptBeansCopy:deptBeansCopy,numx:1,dcode:dcode+bean.id}){} ;
										dcode="";
									}%>
								<%}%>
							</div>
						</div>
						<%}%>
						<%}%>
					</div>

					<div class="col-sm-12">
						<div style="width: 200px; margin: 0 auto;">
							<input class="btn btn-primary" type="submit" value="保存" /> | <a href="javascript:;" onclick="closeMyBoxLayer();">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	<% include("../include/public_last_js_css.html"){} %>
	<script src="${basePath!}/js/jQuery.md5.js" type="text/javascript"></script>
	<script type="text/javascript">
        $().ready(function(){
            formValidate();
        });
        function cPwd(val){
            if(val){
                $('#bean_pwd').val($.md5($.trim(val)));
            }else{
                $('#bean_pwd').val('');
            }
        }
        function formValidate(){
            setTimeout(function(){
                $("#id_form").validate();
            },1000);
        }
	</script>
</body>
</html>
