<%
/*
 * 权限_权限信息 树递归
 */
%>
<%
var dcodex="";
for(b in beans!){
 	checkBoxX="";
	for(dept in deptBeansCopy!){
		if(dept.id==b.id){
			 checkBoxX='oldc="1" checked="checked"';
		}
	}
%>
		<p>
			<label>
				-
				<% for(var i=1;i<=numx;i++){ %>
				|-
				<%}%>
				<input type="checkbox" class="${dcode} ${b.id}" level="${numx}" ${checkBoxX} id="x_${b.id}" value="${b.id}" name="deptIdArray">
				${b.name}
			</label>
		</p>
<%
		if(isNotEmpty(b.beans) && b.beans.~size>0){
			 layout("org_user_tree_checkbox.html",{beans:b.beans,deptBeansCopy:deptBeansCopy,numx:numx+1,dcodex:dcode,dcode:dcode+b.id}){};
			 dcode=dcodex;
		}
}
%>