<?xml version="1.0"?>
<configuration>

    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 日志级别 -->
    <root>
        <!-- 定义了ERROR和INFO级别的日志，分别在FILE文件和控制台输出 -->
        <!--<level value="all" />-->
        <level value="error" />
        <level value="warn" />
        <level value="debug" />
        <level value="info" />
        <appender-ref ref="console" />
    </root>
    <!-- 输出Mybatis sql日志 -->
    <logger name="dao" level="debug" />

</configuration>