@[
/*
 * 页面效果与功能js和css 最后加载 加快页面加载速度
 *
 * VERSION  DATE        BY           REASON
 * -------- ----------- ------------ ------------------------------------------
 * 1.00     2016-03-26  wuxiaogang   程序・发布
 * -------- ----------- ------------ ------------------------------------------
 * Copyright 2016 baseos System. - All Rights Reserved.
 *
 */
 /]
	<script src="${basePath}plugins/hplus/js/bootstrap.min.js?v=3.3.6"></script>
	<script src="${basePath}plugins/hplus/js/plugins/peity/jquery.peity.min.js"></script>
	<script src="${basePath}plugins/hplus/js/content.js?v=1.0.0"></script>
	
	<script src="${basePath}plugins/hplus/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="${basePath}plugins/hplus/js/plugins/validate/messages_zh.min.js"></script>
	
	<script src="${basePath}plugins/hplus/js/plugins/datapicker/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="${basePath}js/jquery.form.js"></script>
	<script src="${basePath}plugins/layer/layer.js" type="text/javascript"></script>
	<script type="text/javascript" src="${basePath}js/global.js"></script>
<style type="text/css">
.table-scrollable {	border: 0px solid #dddddd;	margin: 5px 0 !important;}
.form-actions {	margin-bottom: 10px;}
.table thead {	background: #eee;}
.date-col{width: 150px;}
.version-col{width: 50px;}
</style>